
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-ue9 {
  width: 100%;
  height: 11.4rem;

  .new-nav-bar-rZP {
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.2rem 4rem rgba(0, 0, 0, 0.1199999973);
    width: 100%;
    height: 100%;

    .main-bWy {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 1.5rem 10.8rem;
      width: calc(100% - 0.0019rem);
      height: 7.7rem;
      background-color: #ffffff;
      flex-shrink: 0;
      margin-right: 0.0019rem;

      .logo-6Tj {
        margin: 0.45rem 37.5rem 0.45rem 0rem;
        height: calc(100% - 0.9rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-66-oN9 {
          box-sizing: border-box;
          padding-left: 0.1087rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .final-logo-Lss {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.003rem 0.507rem 0rem 0rem;
            width: 3.5819rem;
            height: 2.9822rem;
            position: relative;
            object-fit: contain;
          }
          .acciojob-EyF {
            font-weight: 600;
            line-height: 1.7500001976;
            letter-spacing: -0.0869rem;
            color: #002555;
            font-family: Bai Jamjuree, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.1714rem;
          }
        }
        .auto-group-hgy7-x8Z {
          padding: 0.15rem 0rem 0.15rem 1.1rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .line-8-4hP {
            margin-right: 0.9rem;
            width: 0.1rem;
            height: 3.2rem;
            background-color: #dadada;
            flex-shrink: 0;
          }
          .nsdclogoinclearbackground-1-PUm {
            width: 7.7rem;
            height: 3.5rem;
            position: relative;
            background-size: 100% 99.446%;
            background-position: -0.0227rem 0.0097rem;
            background-image: url('REPLACE_IMAGE:219934bebb94080f04e01e40fa2ce09eeb7cad33');
            flex-shrink: 0;
          }
        }
      }
      .cta-links-457 {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-1000001688-Ch7 {
          flex-shrink: 0;
          margin: 1.1rem 3.8rem 1.1rem 0rem;
          height: calc(100% - 2.2rem);
          display: flex;
          align-items: center;

          .frame-1000001682-ivM {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 3rem;
            box-sizing: border-box;
            padding-right: 0rem;

            .courses-eZ7 {
              font-weight: 400;
              line-height: 1.5499999523;
              letter-spacing: 0.016rem;
              font-family: ?????, 'Source Sans Pro';
              margin-right: 1.1rem;
              font-size: 1.6rem;
              flex-shrink: 0;
              color: #4f4f4f;
              white-space: nowrap;
            }
            .arrow-NED {
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-58kr-JNm {
            height: 100%;
            position: relative;
            flex-shrink: 0;
            width: 36rem;

            .frame-1000001683-FJ1 {
              letter-spacing: 0.016rem;
              color: #4f4f4f;
              font-family: ?????, 'Source Sans Pro';
              white-space: nowrap;
              width: 15.9rem;
              height: 2.5rem;
              left: 0;
              font-size: 1.6rem;
              position: absolute;
              top: 0;
              font-weight: 400;
              line-height: 1.5499999523;
            }
            .frame-1000001684-XmK {
              letter-spacing: 0.016rem;
              font-family: ?????, 'Source Sans Pro';
              height: 2.5rem;
              position: absolute;
              top: 0;
              font-size: 1.6rem;
              font-weight: 400;
              width: 14.6rem;
              left: 15.2rem;
              line-height: 1.5499999523;
              color: #4f4f4f;
              white-space: nowrap;
            }
            .frame-1000001685-De9 {
              height: 2.5rem;
              left: 29.7rem;
              display: flex;
              align-items: center;
              padding-right: 0rem;
              width: 6.3rem;
              top: 0;
              box-sizing: border-box;
              position: absolute;

              .more-Xuj {
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: 0.016rem;
                flex-shrink: 0;
                margin-right: 1rem;
                line-height: 1.5499999523;
                color: #4f4f4f;
                font-family: ?????, 'Source Sans Pro';
                white-space: nowrap;
              }
              .arrow-ejT {
                width: 1.8rem;
                height: 1.8rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .frame-1000001635-NfT {
          overflow: hidden;
          font-weight: 400;
          color: #2f80ed;
          white-space: nowrap;
          box-sizing: border-box;
          border-radius: 0.8rem;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: 10.8rem;
          height: 100%;
          position: relative;
          line-height: 1.1825;
          font-style: italic;
          font-family: ABeeZee, 'Source Sans Pro';
          font-size: 1.4rem;
          display: flex;
          border: solid 0.2rem #2f80ed;
        }
      }
    }
    .announcement-Qs3 {
      line-height: 1.5;
      letter-spacing: 0.028rem;
      color: #ffffff;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 3.7rem;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      font-size: 1.4rem;
      font-weight: 600;
      white-space: nowrap;
      background-color: #2f80ed;
      flex-shrink: 0;

      .announcement-Qs3-sub-0 {
        font-family: ABeeZee, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.028rem;
        font-style: italic;
        color: #ffffff;
      }
      .announcement-Qs3-sub-1 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.028rem;
        color: #ffffff;
        font-family: ?????, 'Source Sans Pro';
      }
      .announcement-Qs3-sub-2 {
        font-family: ABeeZee, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.028rem;
        font-style: italic;
        color: #ffffff;
      }
      .announcement-Qs3-sub-3 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.028rem;
        font-style: italic;
        color: #ffffff;
        font-family: ABeeZee, 'Source Sans Pro';
      }
    }
  }
}
