
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 26.1rem;
}.frame-1000002034-AMo {
  box-shadow: 0 0.2rem 4rem rgba(0, 0, 0, 0.1199999973);
  font-size: 1.4rem;
  white-space: nowrap;
  align-items: center;
  height: 4.1rem;
  justify-content: center;
  font-weight: 400;
  color: #515151;
  display: flex;
  background-color: #ffffff;
  border-radius: 2.3rem;
  width: 100%;
  line-height: 1.5;
  font-family: ?????, 'Source Sans Pro';
}
